h1, h2 {
     color: white;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
    margin-bottom: 24%;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/images/1_hero/jpg/hero_bg.jpg');
     background-size: cover; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
}