@import './../../../mixin.scss';
@import './../../../styles.scss';

#location {
 @include displayFlex(column, center, center);
  padding: 48px 0;
  background: #fff;

  h2 {
    @include headline;
    margin-bottom: 40px;
  }

  > div {
    @include displayFlex(center);
    margin-bottom: 32px;

    p {
      @include displayFlex(center);
      font-size: 28px;
      font-weight: 600;
      color: #222;

      .google-maps-marker {
        @include imgResponsive(36px, 36px);
        margin-right: 16px;
        vertical-align: middle;
      }
    }
  }

  iframe {
    width: 640px;
    height: 340px;
    border: none;
    border-radius: 18px;
    @include boxShadow;
    margin-top: 16px;
  }

  @media (max-width: 700px) {
    padding: 32px 0 40px 0;

    h2 {
      font-size: 32px;
    }

    > div p {
      font-size: 18px;
    }

    iframe {
      width: 95vw;
      height: 220px;
    }
  }
}