@import './../../../../mixin.scss';
@import './../../../../styles.scss';

footer {
  background: #111;
  width: 98vw;
  min-height: 160px;
 @include displayFlex(row, space-between, center);
  padding: 0;

  a {
    text-decoration: none;

    > p {
      color: wheat;
      font-size: 16px;
      margin-left: 16px;
      font-weight: 500;
      @include transition(color);
      &:hover {
        color: $dark-red;
      }
    }
  }

  .footer-logo {
    @include displayFlex(center);
    padding-left: 40px;

    img {
      @include imgResponsive(240px, auto);
    }
  }

  > div:not(.footer-logo) {
    @include displayFlex(row, center, center);
    gap: 32px;
    margin-right: 40px;

    a {
      @include displayFlex(center);

      img {
        @include imgResponsive(40px, 40px);
        transition: filter 0.2s;
        &:hover {
          filter: brightness(1.2) drop-shadow(0 0 8px #fff2);
        }
      }
    }
  }
}
