footer {
  background: #111;
  width: 98vw;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;

  a {
    text-decoration: none;

    > p {
      color: wheat;
      font-size: 16px;
      margin-left: 16px;
      font-weight: 500;
        transition: color 0.3s ease;
      &:hover {
        color: rgba(187, 2, 2, 0.527);
      }
    }
  }

  .footer-logo {
    display: flex;
    align-items: center;
    padding-left: 40px;

    img {
      height: 64px;
      width: auto;
      object-fit: contain;
    }
  }

  > div:not(.footer-logo) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-right: 40px;

    a {
      display: flex;
      align-items: center;

      img {
        height: 40px;
        width: 40px;
        object-fit: contain;
        transition: filter 0.2s;
        &:hover {
          filter: brightness(1.2) drop-shadow(0 0 8px #fff2);
        }
      }
    }
  }
}
