<section class="ourMenu" id="our-menu">
      <h2>OUR MENU</h2>

      <div class="menu">
        <img
          src="../../../assets/images/3_section_our_menu/png/R1.png"
          alt="Food"
        />

        <table class="table">
          <tbody>
            <tr>
              <th>Tonkotsu Ramen</th>
            </tr>
            <tr>
              <td>Chicken</td>
              <td class="td-price">11.95 €</td>
            </tr>

            <tr>
              <td>Beef</td>
              <td class="td-price">12.95 €</td>
            </tr>

            <tr>
              <td>Shrimp</td>
              <td class="td-price">13.95 €</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="menu">
        <img
          src="../../../assets/images/3_section_our_menu/png/R2.png"
          alt="Food"
        />

        <table class="table">
          <tbody>
            <tr>
              <th>Spicy Miso Ramen</th>
            </tr>
            <tr>
              <td>Chicken</td>
              <td class="td-price">11.95 €</td>
            </tr>

            <tr>
              <td>Beef</td>
              <td class="td-price">12.95 €</td>
            </tr>

            <tr>
              <td>Shrimp</td>
              <td class="td-price">13.95 €</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="menu">
        <img
          src="../../../assets/images/3_section_our_menu/png/R3.png"
          alt="Food"
        />

        <table class="table table-mobile">
          <tbody>
            <tr>
              <th>Shio Ramen</th>
            </tr>
            <tr>
              <td>Chicken</td>
              <td class="td-price">11.95 €</td>
            </tr>

            <tr>
              <td>Beef</td>
              <td class="td-price">12.95 €</td>
            </tr>

            <tr>
              <td>Shrimp</td>
              <td class="td-price">13.95 €</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
