@import './../../../../mixin.scss';
@import './../../../../styles.scss';

nav {
  @include displayFlex(row, space-between, center);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 32px;
  > img {
    @include imgResponsive(64px, 64px);
  }
  > div {
    @include displayFlex(row, flex-end, center, 24px);
    width: 100%;
    > a {
      &:hover {
        color: $dark-red;
      }
    }
  }
}

a {
  color: wheat;
  text-decoration: none;
  @include transition(color);
}

.phone-btn {
  @include buttonBase($dark-red, wheat, solid 1px white, 8px, 8px 16px);
  @include displayFlex(row, center);
  &:hover {
    background-color: wheat;
    border-color: rgba(255, 0, 0, 0.8);
    a {
      color: $dark-red;
    }
    img {
      filter: brightness(0) saturate(100%) invert(19%) sepia(97%)
        saturate(7492%) hue-rotate(357deg) brightness(98%) contrast(119%);
    }
  }

  > img {
    @include imgResponsive(24px, 24px);
    margin-right: 8px;
  }
}
