#howToOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
   font-family: "Raleway", sans-serif;

  h2 {
    color: #a00018;
    font-size: 56px;
    font-weight: 800;
    margin: 48px 0 64px 0;
  }

  .foodvector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 160px;
        height: 160px;
        margin-bottom: 16px;
      }
    }
  }
}
