<section id="howToOrder" class="how-to-order">
  <h2>HOW TO ORDER</h2>

  <div class="foodvector">
    <div>
      <img
        src="../../../assets/images/2_section_how_to_order/png/noodle.png"
        alt="Noodle"
      />
      <span
        >Add your<br />
        noodle</span
      >
    </div>
    <div>
      <img
        src="../../../assets/images/2_section_how_to_order/png/broth.png"
        alt="Broth"
      />

      <span>Pick your<br />broth</span>
    </div>
    <div>
      <img
        src="../../../assets/images/2_section_how_to_order/png/egg.png"
        alt="Egg"
      />

      <span
        >Add your<br />
        topping</span
      >
    </div>
  </div>
</section>
