@import './../../../mixin.scss';
@import './../../../styles.scss';

#howToOrder {
  @include displayFlex(column, center, center);
  padding-bottom: 48px;

  h2 {
    @include headline;
    margin: 48px 0 64px 0;
  }

  .foodvector {
    @include displayFlex(row, space-evenly, center);
    width: 100%;

    > div {
      @include displayFlex(column, center, center);

      img {
        @include imgResponsive(160px, 160px);
        margin-bottom: 16px;
      }
    }
  }
}
